/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #318aff85;
    color: #4662ff;
}

/* Header styles */
header {
    background-color: #4681ff;
    color: #eeeff3;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fcfcfc;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
}

/* More styles for other sections and pages */

/* Footer styles */
footer {
    background-color: #4681ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }
    
    .hero {
        padding: 80px 0;
    }
    
    /* Adjust other styles as needed for smaller screens */
}
.footer { 
    position: left; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    font-size: 40px;
    font-weight: bold;
    color: rgb(3, 0, 46);
}
.footer { 
    position: left; 
    bottom: 10; 
    left: 0; 
    z-index: 10;
    font-size: 40px;
}
.ime {
    font-size: 23px;
}
.prezime {
    font-size:23px;
}
.klub {
    font-size:23px;
}
.visina {
    font-size: 23px;
}
.tezina {
    font-size:23px;
}
.pozicija {
    font-size:23px;
}
.footer {
    text-align: center;
    padding: 100px 0;
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
}